/* Base CSS */

.theme-clear-slider
{
	margin: 20px 0 0 0;
	height: 132px;
	background: url(  'images/carouselBg.png' ) top left repeat-x;
}
.theme-clear-slider .arrow-right
{
	margin-top: 4px !important;
	float: right;
}
.theme-clear-slider .arrow-right a
{
	width: 38px;
	height: 132px;
	background: url(../images/right.png) no-repeat center center;
	display: block;
}
.theme-clear-slider .arrow-left
{
	margin-top: 4px !important;
	float: left;
}
.theme-clear-slider .arrow-left a
{
	width: 38px;
	height: 132px;
	background: url(../images/left.png) center center no-repeat;
	display: block;
}
.jcarousel-skin-clear-slider .jcarousel-container
{
	margin: 0 39px;
	height: 115px;
}
#content .jcarousel-skin-clear-slider .jcarousel-item
{
	margin: 2px 4px;
	width: 100px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.07);
	padding-left: 0;
	background: none;
}

